.root
    div#header.header(style=`background-image: linear-gradient( rgb(4 4 4 / 62%), rgba(0, 0, 0, 0.5) ), url(\"${mainMovieImg.picture}\");`)
            div.navbar !{header}
            div.main-movie !{mainMovie}
    div.selection
        div#select !{select}
        div#selectMobile !{selectMobile}
    div !{footer}