.root
    div#header.header
        div.navbar !{header}
        div.main-movie !{mainMovie}
    div.selection
        div.select
            div.select-title Популярное
            div.wrap !{carouselPop}
            div.select-title Лучшее за 2021 год
            div.wrap !{carouselTop}
            div.select-title Семейное
            div.wrap !{carouselFam}
    div !{footer}