mixin homeView(items)
    .root.background
        div#header.header
            div.navbar !{items.header}
            div.main-movie !{items.mainMovie}
        div.selection
            div.select
                div.select-title Популярное
                div.wrap !{items.carouselPop}
                div.select-title Лучшее за 2021 год
                div.wrap !{items.carouselTop}
                div.select-title Семейное
                div.wrap !{items.carouselFam}
        div !{items.footer}


+ homeView(items)