mixin homeView(items)
    div#header.header
        div.navbar.font !{items.header}
        div.mainMovie !{items.mainMovie}
    div.selection.background
        div.select
            div.selectTitle Популярное
            div.wrap !{items.carouselPop}
            div.selectTitle Лучшее за 2021 год
            div.wrap !{items.carouselTop}
            div.selectTitle Семейное
            div.wrap !{items.carouselFam}



+ homeView(items)