.root
    div#header.header
        div.navbar !{header}
        div.main-movie !{mainMovie}
    div.selection
        div.select
            div !{carouselPop}
            div !{carouselTop}
            div !{carouselFam}
    div !{footer}