.root
    div#header.header(style=`background-image: url(\"${mainMovieImg.picture}\");`)
        div.photo-person__gradient
            div.navbar !{header}
            div.main-movie !{mainMovie}
    div.selection
        div.select.first
            div !{carouselPop}
            div !{carouselTop}
            div.margin-bottom  !{carouselFam}
    div !{footer}