.root
    div#header.header(style=`background-image: url(\"${picture}\");`)
        div.navbar !{header}
        div.main-movie !{mainMovie}
    div.selection
        div.select
            div !{carouselPop}
            div !{carouselTop}
            div.margin-bottom  !{carouselFam}
    div !{footer}