div.navbar !{header}
div.back-profile
div.back-menu-profile
    div.menu-profile
        h1.menu-h1 Профиль
        form.form-profile(method="post", noValidate, enctype="multipart/form-data")
            div.menu-form__profile
                div.menu-form-avatar !{avatar}
                div.menu-form-profile !{inputs}
            div.error(data-section="profile-info")
            div !{button}
div !{footer}