div.navbar !{header}
div.photo-movie(style=`background-image: url(\"${photo}\");`)
    div.photo-person__gradient
    div.head-person !{headPerson}
div.selection
    div.select.margin-bottom !{carouselPop}
div !{footer}

