div.navbar !{header}
div.photo-person(style=`background-image: url(\"${personImg.photo}\");`)
    div.photo-person__gradient
        div.head-person !{headPerson}
div.selection
    div.select
        div.margin-bottom !{carouselPop}
    div.select-mobile
        div.margin-bottom !{carouselPopMobile}
div !{footer}

