div.navbar !{header}
div.photo-movie(style=`background-image: url(\"${movieImg.picture}\");`)
    div.photo-movie__gradient
    div.head-movie !{headMovie}
div.episodes !{episodes}
div.seasons !{seasons}
div.first-part-info !{firstInfoMovie}
div.second-part-genre !{secondGenre}
div.third-part-actors !{actors}
div.selection
    div.select !{select}
div !{footer}

