div.navbar !{header}
div.photo-movie(style=`background-image: url(\"${movieImg.picture}\");`)
    div.photo-movie__gradient
    div.head-movie !{headMovie}
div.first-part-info !{firstInfoMovie}
div.second-part-genre !{secondGenre}
div.third-part-actors !{actors}
div.selection
    div.select
        div.margin-bottom.movie-carousel.margin-person !{carouselPop}
    div.select-mobile
        div.margin-bottom.movie-carousel.margin-person !{carouselPopMobile}
div !{footer}

