div.head-movie__name(style=`background-image: url(\"${info.name_picture}\");`)
div.head-movie__rating
    div.string-rating
        if(info.rating === -1)
            div.rating.our-rating –
        else
            div.rating.our-rating #{info.rating}
        div.our-name MovieSpace
    div.string-rating
        div.rating.poisk-rating #{info.kinopoisk_rating}
        div.poisk-name КиноПоиск
div.head-movie__info
    div.short-info.info__year #{info.year}
    if(info.genre)
        if(info.genre.length > 1)
            a.short-info.info__genre-first(href=`genre/${info.genre[0].id}`) #{info.genre[0].name},
            a.short-info.info__genre(href=`genre/${info.genre[1].id}`) #{info.genre[1].name}
        else
            a.short-info.info__genre-first(href=`genre/${info.genre[0].id}`) #{info.genre[0].name}
    if (info.country)
        div.short-info.info__country #{info.country[0]}
    div.short-info.info__duration #{info.duration}
    div.short-info.info__age #{info.age_limit}+
div.head-movie__buttons
    if (info.is_movie)
        button.play-button Смотреть фильм
    else
        button.play-button Смотреть сериал
    a.trailer-button(href=`/player/${info.id}/trailer`) Трейлер
    svg.like(id =`like_${info.id}`,width="36" height="36" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg")
        path(d="M13.7503 6.11111C8.18158 6.11111 3.66699 10.6257 3.66699 16.1944C3.66699 26.2778 15.5837 35.4444 22.0003 37.5766C28.417 35.4444 40.3337 26.2778 40.3337 16.1944C40.3337 10.6257 35.8191 6.11111 30.2503 6.11111C26.8403 6.11111 23.8245 7.8042 22.0003 10.3956C21.0705 9.07122 19.8353 7.99036 18.3992 7.24456C16.9632 6.49876 15.3685 6.10997 13.7503 6.11111Z" stroke="white" stroke-linecap="round" stroke-linejoin="round")


