img.head-movie__name(src="../../static/AvengersName.png")
div.head-movie__rating
    div.string-rating
        div.rating.our-rating #{rating}
        div.our-name MovieSpace
    div.string-rating
        div.rating.poisk-rating #{poiskRating}
        div.poisk-name КиноПоиск
div.head-movie__info
    div.short-info.info__year #{year},
    a.short-info.info__genre-first(href='.') #{genre[0]},
    a.short-info.info__genre(href='.') #{genre[1]}
    div.short-info.info__country #{country}
    div.short-info.info__duration #{duration}
    div.short-info.info__age #{age}+
div.head-movie__buttons
    button.play-button Смотреть фильм
    button.trailer-button Трейлер
    input#cb(type="checkbox")

