div.head-person__name #{info.name}
div.head-person__job #{info.position}
div.head-person__descr #{info.description}
div.add-photos
    img.add-photos__photo(src=`${info.addit_photo_1}`)
    img.add-photos__photo(src=`${info.addit_photo_2}`)


