each item in items
    div(class = `out-movie`+`${typeMov}`)
        if(item.id != -1)
            div(class=`movie` + `${typeMov}`, id =`${item.id}` , style=`background-image: url(\"${item.picture}\");`)
                if(is_movie)
                    a(href=`/movie/${item.id}`)
                else if(item.number)
                    if (!check)
                        a.play__back(href=`/player/${idx}/seas=${season + 1}/ep=${item.number}`)
                            svg.play__svg(height="32px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                                g(id="Layer_1")
                                g(id="play_x5F_alt")
                                    path(d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   " style="fill: var(--mix-color);")
                        a.mobile-href(href=`/player/${idx}/seas=${season + 1}/ep=${item.number}`)
                if(is_movie)
                    div(class=`desc-mov` + `${typeMov}`)
                        a(class=`movie` + `${typeMov}` + '__href')(href=`/movie/${item.id}`)= item.name
                        if(item.genre != null)
                            if(item.genre.length > 1)
                                a.genre(href=`/movie/${item.id}`)= item.genre[0].name + "/" + item.genre[1].name
                            else
                                div.genre= item.genre[0].name
                            svg.like(id =`like_${item.id}`,width="36" height="36" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg")
                                path(d="M13.7503 6.11111C8.18158 6.11111 3.66699 10.6257 3.66699 16.1944C3.66699 26.2778 15.5837 35.4444 22.0003 37.5766C28.417 35.4444 40.3337 26.2778 40.3337 16.1944C40.3337 10.6257 35.8191 6.11111 30.2503 6.11111C26.8403 6.11111 23.8245 7.8042 22.0003 10.3956C21.0705 9.07122 19.8353 7.99036 18.3992 7.24456C16.9632 6.49876 15.3685 6.10997 13.7503 6.11111Z" stroke="white" stroke-linecap="round" stroke-linejoin="round")
                else if(item.number)
                    div(class=`desc-mov` + `${typeMov}`)
                        a(class=`movie` + `${typeMov}` + '__href')(href=`/player/${idx}/seas=${season + 1}/ep=${item.number}`)= item.name
                        a.genre(href=`/player/${idx}/seas=${season + 1}/ep=${item.number}`) !{item.number} серия
        if(!is_movie && item.number)
            div.descr-series= item.description