div.navbar !{header}
div.photo-movie(style=`background-image: url(\"${movieImg.picture}\");`)
    div.photo-movie__gradient
    div.head-movie !{headMovie}
div.episodes !{episodes}
div.selection.series-margin
    div.select.series-top !{select}
    div.selectMobile.series-top !{selectMobile}
div.first-part-info-serial !{firstInfoMovie}
div.second-part-genre !{secondGenre}
div.third-part-actors !{actors}
div.selection
    div.select !{select}
    div.selectMobile !{selectMobile}
div !{footer}

